<a class="github" href="https://github.com/ember-admin/ember-cli-admin"><img style="position: absolute; top: 0; right: 0; border: 0; cursor: pointer;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>
<div class="page_wrap">
    <div class="main_wrap">
        <header class="header2">
            <div class="header_inner hr">
                <a href="#" class="logo"></a>
                <div class="try">
                    <h5>try it now on different backends:</h5>

                    <a href="http://rails.ember-admin.com" class="btn">
                        rails
                    </a>

                    <a href="http://play.ember-admin.com" class="btn disabled">play</a>
                </div>

                <div class="header_phone">
                </div>


            </div><!-- header1 -->
        </header>

        <div class="content_wrap">
            <div class="content">
                <div class="main_text">
                    <p class="intro">The <strong>administration framework</strong> for business critical <strong>Ruby on Rails</strong> applications.</p>
                    <p>Active Admin is a Ruby on Rails plugin for generating administration style interfaces. It abstracts common business application patterns to make it simple for developers to implement beautiful and elegant interfaces with very little effort.</p>
                </div>
                <div class="main_img">
                    <img src="/images/ui1.jpg">
                </div>
                <div class="hr"></div>
            </div> <!--.content  -->
            <aside>
            </aside>
        </div><!-- content-wrap -->

    </div> <!-- main_wrap -->

</div> <!-- page_wrap -->

<footer>
    <div class="footer">
        <a href="#" class="logo2"></a>
        <div class="fl_l">@copyright api-hogs</div>
        <ul>
            <li></li>
        </ul>
    </div>
</footer>